<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RunCat365.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RunCat365.Properties.UserSettings>
            <setting name="Runner" serializeAs="String">
                <value>Cat</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="FPSMaxLimit" serializeAs="String">
                <value>FPS40</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
        </RunCat365.Properties.UserSettings>
    </userSettings>
</configuration>