<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RunCat.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RunCat.Properties.UserSettings>
            <setting name="Runner" serializeAs="String">
                <value>cat</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="ShowMonitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitorPosition" serializeAs="String">
                <value>1000, 800</value>
            </setting>
        </RunCat.Properties.UserSettings>
    </userSettings>
</configuration>